@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Sriracha&display=swap");

:root {
  --color-white: #fff;
  --color-black: #1f1e19;
  --color-yellow: #ecd41a;
  --color-yellow-dark: #c8b416;
  --color-pink: #c92086;
  --color-black-light: #6e6a51;
  --color-black-middle: #414036;
  --color-black-dark: #2d2c25;
  --color-grey: #b6b4a2;
  --color-body: var(--color-white);
  --carousel-height: 300px;
  --card-height: 320px;
  --font-primary: "Lato";
  --font-secondary: "Sriracha";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "head" "carousel" "ribMenu" "filters" "products";
  grid-template-columns: 1fr;
  max-width: 1200px;
  justify-content: center;
  padding: 0 10px;
  color: var(--color-white);
  background-color: var(--color-black);
  font-family: var(--font-primary), cursive;
  font-size: 16px;
  line-height: 1.5;
}

.add-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-black-dark);

  &__price {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 72px;
    text-align: center;
    padding: 8px;
    background-color: var(--color-pink);
    color: var(--color-body);
    font-family: var(--font-primary), sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
  }

  &__name {
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    font-style: italic;
    line-height: 1.2;
    width: 100%;
    padding: 0 20px;
  }

  &__element {
    flex: 0 0 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 70px;
    background-color: var(--color-yellow);
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    &:hover {
      transition: background-color 0.2s ease-out;
      background-color: var(--color-yellow-dark);
    }
  }
}

.header {
  grid-area: head;
  position: relative;
  padding: 50px 0 36px;

  &__title {
    text-transform: uppercase;
    font-family: var(--font-secondary), sans-serif;
    font-size: 46px;
    line-height: 1.2;
    color: var(--color-yellow);
    text-shadow: 3px 3px var(--color-pink);
    text-align: center;
  }

  &__subtitle {
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: var(--color-grey);
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  height: var(--carousel-height);

  &__arrow {
    cursor: pointer;
    padding: 20px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    display: flex;
    transition: transform 0.4s ease-out;
  }

  &__slide {
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.ribbon {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__title {
    font-family: var(--font-secondary), sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-yellow);
    text-shadow: 3px 3px var(--color-pink);
    margin: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 120px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: none;

    &.visible {
      display: flex;
    }

    &--left {
      left: 0;
      background: linear-gradient(90deg, var(--color-black) 25%, var(--color-black) 61%, rgba(31, 30, 25, 0) 100%);
      text-align: right;
      align-items: flex-start;
      padding-left: 14px;
    }

    &--right {
      right: 0;
      background: linear-gradient(90deg, rgba(31, 30, 25, 0) 25%, var(--color-black) 61%, var(--color-black) 100%);
      text-align: right;
      align-items: flex-end;
      padding-right: 14px;
    }
  }

  &__inner {
    margin-bottom: -15px;
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  &__item {
    color: var(--color-body);
    background: var(--color-black-dark);
    padding: 13px 38px;
    font-size: 21px;
    font-style: italic;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-left: 1px solid var(--color-black);
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--color-black-light);
    }
  }
}